{% extends 'base.html.twig' %}

{% block body %}
    <h1>Voici le titre du site {{nom}}</h1>
<img src="{{imgurl}}">


{% endblock %}

{% block stylesheets %}
<style>
    h1{
        color: {{h1color}};
    }
</style>
{% endblock %}
